html,body 
{
    height: 100%;
    margin: 0;
    background-color: #E5E5E5;
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
}

core-header-panel
{
    height: 100%;
}

core-toolbar
{
    background-color: #3F51B5;
    color: white
}

.container
{
    width: 100%;
    margin: 32px auto;
}

